<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Track Your Time</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <style>
            * {
                font-family: 'Jua', sans-serif;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{{url_for('static', filename='stopwatch.svg')}}" alt="brand" width="32" height="32"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pomodoro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="toggleReport()">
                            Statistics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="openSettings()">
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row justify-content-center" style="display: none;" id="report">
                <div class="col-12 col-md-6">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="row justify-content-center mt-4 mb-2">
                <div class="col-12 col-md-6" id="title">
                    <h1 class="text-center" id="state">
                        title
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center mb-2">
                <div class="col-12 col-md-6" id="remain">
                    <h1 class="text-center" id="remain-time">
                        남은 시간
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center mb-2">
                <div class="col-12 col-md-6" id="elapsed">
                    <h2 class="text-center" id="elapsed-time">
                        지난 시간
                    </h2>
                </div>
            </div>
            <div class="row justify-content-center mb-2">
                <div class="col-12 col-md-6">
                    <div class="progress">
                        <div class="progress-bar" id="timer-progress" role="progressboar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 text-center" id="control-box">
                    <button class="btn btn-success btn-lg" onclick="action()" id="state-desc">
                        start
                    </button>
                    <button class="btn btn-light btn-lg" id="work-desc" style="display: none;">
                    </button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="settingsModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Settings</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="setFocus">Focus</label>
                            <input type="number" class="form-control" id="setFocus" />
                        </div>
                        <div class="form-group">
                            <label for="setBreak">Break</label>
                            <input type="number" class="form-control" id="setBreak" />
                        </div>
                        <div class="form-group">
                            <label for="setLongBreak">LongBreak</label>
                            <input type="number" class="form-control" id="setLongBreak" />
                        </div>
                        <div class="form-group">
                            <label for="setDay">Goal per Day</label>
                            <input type="number" class="form-control" id="setDay" />
                        </div>
                        <div class="form-group">
                            <label for="setCycle">Cycle</label>
                            <input type="number" class="form-control" id="setCycle" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="applySettings()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
            let configJson = window.localStorage.getItem('config');
            let config;
            let pomoState = 'Pomodoro';
            let timerState = 'stop';
            let timerPeriod;
            let timerElapsed;
            let timerObj;
            if (configJson == null) {
                config = {
                    'focus': 25,
                    'break': 5,
                    'longBreak': 15,
                    'day': 10,
                    'cycle': 4
                };
                window.localStorage.setItem('config', JSON.stringify(config));
            } else {
                config = JSON.parse(configJson);
            }

            $(document).ready(function () {
                init();
            });

            function init() {
                $('#state').text(pomoState);
                $('#remain-time').text(`${config.focus}:00`);
                $('#elapsed-time').text('00:00');
            }

            function initChart() {
                let ctx = document.getElementById('myChart').getContext('2d');
                let chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                        datasets: [{
                            label: 'My First dataset',
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: [0, 10, 5, 2, 20, 30, 45]
                        }]
                    },

                    // Configuration options go here
                    options: {}
                });
            }

            function action(act) {
                if (timerState === 'stop') {
                    // start pomodoro
                    $('#state-desc').text('stop');
                    timerState = 'running';
                    startTimer();
                } else if (timerState === 'running') {
                    // stop pomodoro
                    $('#state-desc').text('start');
                    timerState = 'stop';
                    stopTimer();
                } else if (timerState === 'finished' && act === 'relax') {
                    pomoState = 'Break';
                    // TODO add long break
                    stopTimer();
                    startTimer();
                    timerState = 'running';
                } else if (timerState === 'finished' && act === 'resume') {
                    pomoState = 'Pomodoro';
                    stopTimer();
                    startTimer();
                    timerState = 'running';
                } else if (timerState === 'finished') {
                    $('#state-desc').text('start');
                    timerState = 'stop';
                    stopTimer();
                }
            }

            function startTimer() {
                timerElapsed = 0;
                if (pomoState === 'Pomodoro') {
                    // pomodoro timer
                    timerPeriod = parseInt(config.focus) * 60; // to seconds
                } else if (pomoState === 'Break') {
                    // break timer
                    timerPeriod = parseInt(config.break) * 60;
                } else if (pomoState === 'Long Break') {
                    // long break timer
                    timerPeriod = parseInt(config.longBreak) * 60;
                }

                timerObj = setInterval(function() {

                    timerElapsed += 1;

                    let delta = timerPeriod - timerElapsed;

                    if (delta < 0) {
                        $('#remain-time').text('00:00');
                    } else {
                        let remain_minutes = Math.floor(delta / 60);
                        let remain_seconds = delta - remain_minutes * 60;

                        let rm_str = remain_minutes.toString().padStart(2, '0');
                        let rs_str = remain_seconds.toString().padStart(2, '0');

                        $('#remain-time').text(`${rm_str}:${rs_str}`);
                    }

                    let elapsed_minutes = Math.floor(timerElapsed / 60);
                    let elapsed_seconds = timerElapsed - elapsed_minutes * 60;

                    let em_str = elapsed_minutes.toString().padStart(2, '0');
                    let es_str = elapsed_seconds.toString().padStart(2, '0');

                    $('#elapsed-time').text(`${em_str}:${es_str}`);

                    if (timerElapsed < timerPeriod) {
                        let elapsed_percent = timerElapsed/timerPeriod * 100;
                        $('#timer-progress').css('width', `${elapsed_percent}%`);
                    }

                    // TODO browser notify when elapsed time reaches period time
                    if (timerElapsed === timerPeriod) {
                        console.log('Ring!');
                        timerRingAction();
                    }
                }, 1000);
            }

            function timerRingAction() {
                console.log(pomoState, timerState);
                let workDesc = $('#work-desc');
                if (pomoState === 'Pomodoro') {
                    workDesc.text('Relax');
                    workDesc.attr('onclick', 'action("relax")');
                } else {
                    workDesc.text('Resume');
                    workDesc.attr('onclick', 'action("resume")');
                }
                timerState = 'finished';
                workDesc.show();
            }

            function stopTimer() {
                clearInterval(timerObj);
                if (pomoState === 'Pomodoro') {
                    $('#elapsed-time').text('00:00');
                    $('#remain-time').text(`${config.focus}:00`);
                    $('#timer-progress').css('width', '0%');
                }
                $('#work-desc').hide();
            }

            function openSettings() {
                $('#setFocus').val(config.focus);
                $('#setBreak').val(config.break);
                $('#setLongBreak').val(config.longBreak);
                $('#setDay').val(config.day);
                $('#setCycle').val(config.cycle);
                $('#settingsModal').modal('show');
            }

            function applySettings() {
                let focusVal = $('#setFocus').val();
                let breakVal = $('#setBreak').val();
                let longBreakVal = $('#setLongBreak').val();
                let dayVal = $('#setDay').val();
                let cycleVal = $('#setCycle').val();
                config = {
                    'focus': focusVal,
                    'break': breakVal,
                    'longBreak': longBreakVal,
                    'day': dayVal,
                    'cycle': cycleVal
                };
                window.localStorage.setItem('config', JSON.stringify(config));
                init();
                $('#settingsModal').modal('hide');
            }

            function toggleReport() {
                let report = $('#report');
                if (report.css('display') === 'flex') {
                    report.hide();
                } else {
                    initChart();
                    report.show();
                }
            }

        </script>
    </body>
</html>