<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta property="og:title" content="Pomodoro"/>
        <meta property="og:description" content="Track your productivity"/>
        <meta property="og:image" content="{{ url_for('static', filename='sharp_timelapse_white_48dp.png') }}"/>
        <title>Track Your Time</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <style>
            * {
                font-family: 'Jua', sans-serif;
            }

        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{{url_for('static', filename='stopwatch.svg')}}" alt="brand" width="32" height="32"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pomodoro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="_toggleReport()">
                            Statistics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="_openSettings()">
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row justify-content-center" style="display: none;" id="report">
                <div class="col-12 col-md-6">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="row justify-content-center mt-4 mb-2">
                <div class="col-12 col-md-6" id="title">
                    <h1 class="text-center" id="state">
                        title
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center mb-2">
                <div class="col-12 col-md-6" id="remain">
                    <h1 class="text-center" id="remain-time">
                        남은 시간
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center mb-2">
                <div class="col-12 col-md-6" id="elapsed">
                    <h2 class="text-center" id="elapsed-time">
                        지난 시간
                    </h2>
                </div>
            </div>
            <div class="row justify-content-center mb-2">
                <div class="col-12 col-md-6">
                    <div class="progress">
                        <div class="progress-bar" id="timer-progress" role="progressboar" style="width: 0;"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 text-center" id="control-box">
                    <button class="btn btn-light btn-lg" onclick="_action('stop')" id="stopBtn" style="display: none;">
                        stop
                    </button>
                    <button class="btn btn-success btn-lg" onclick="_action('start')" id="startBtn">
                        start
                    </button>
                    <button class="btn btn-success btn-lg" onclick="_action('resume')" id="resumeBtn"
                            style="display: none;">
                        resume
                    </button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="settingsModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Settings</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="setFocus">Focus</label>
                            <input type="number" class="form-control" id="setFocus"/>
                        </div>
                        <div class="form-group">
                            <label for="setBreak">Break</label>
                            <input type="number" class="form-control" id="setBreak"/>
                        </div>
                        <div class="form-group">
                            <label for="setLongBreak">LongBreak</label>
                            <input type="number" class="form-control" id="setLongBreak"/>
                        </div>
                        <div class="form-group">
                            <label for="setDay">Goal per Day</label>
                            <input type="number" class="form-control" id="setDay"/>
                        </div>
                        <div class="form-group">
                            <label for="setCycle">Cycle</label>
                            <input type="number" class="form-control" id="setCycle"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="applySettings()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="{{url_for('static', filename='js/timer.js')}}"></script>
        <script src="{{url_for('static', filename='js/stat.js')}}"></script>
        <script src="{{url_for('static', filename='js/ui.js')}}"></script>
        <script>
        </script>
    </body>
</html>